*{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    width:85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
    .header__logo{

    }
        .header__logo img{
            width: 150px;
        }
    .header__opciones{

    }
        .header__opciones ul{

        }
            .header__opciones ul li{
                display: inline-block;
                text-transform: uppercase;
                font-size: 0.8rem;
                padding: 0 10px;
            }
            .header__opciones ul li:nth-child(1){
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
            .header__opciones ul li:last-child{
                border-left: 3px solid rgb(255, 255, 255);
                color: rgb(221, 221, 221);
            }


nav{
    background-color: rgb(216, 0, 30);
    margin: 0 auto;
    width: 85%;
}
    .nav__menu{

    }
        .nav__menu ul{
            /*background-color: yellow;*/
            margin: 0;
            padding: 0;
        }
        .nav__menu ul li{
            list-style: none;
            padding: 10px 20px;
            display: inline-block;
        }
            .nav__menu ul li a{
                color: rgb(255, 255, 255);
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.8rem;
            }

.slider{
    width: 85%;
    margin: 0 auto;
}
    .slider img{
        width: 100%;
    }
